@import "tailwindcss";
@source "../**/*.{ts,tsx}";

@theme {
  --color-isa-cream: #FAF9F6;
  --color-isa-green: #8F9E8B;
  --color-isa-gold: #F2C792;
  --color-isa-dark: #2C2C2C;
}

body {
  background-color: var(--color-isa-cream);
  color: var(--color-isa-dark);
}

/* Ocultar la barra de desplazamiento (Scrollbar) en contenedores deslizables */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari y Chrome */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer y Edge */
  scrollbar-width: none;  /* Firefox */
}