@import "tailwindcss";
@source "../**/*.{ts,tsx}";

@theme {
  --color-isa-rosa-1: #E29C9C;
  --color-isa-soft-rosa-2: #E6BEAE;
  --color-isa-almond-3: #EEDAC5;
  --color-isa-beige-4: #F5F5DC;
  --color-isa-dark: #2C2C2C;
}

body {
  background-color: var(--color-isa-beige);
  color: var(--color-isa-dark);
}

/* Ocultar la barra de desplazamiento (Scrollbar) en contenedores deslizables */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari y Chrome */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer y Edge */
  scrollbar-width: none;  /* Firefox */
}