@import "tailwindcss";

@theme {
  --color-isa-cream: #FAF9F6;
  --color-isa-green: #8F9E8B;
  --color-isa-gold: #F2C792;
  --color-isa-dark: #2C2C2C;
}

body {
  background-color: var(--color-isa-cream);
  color: var(--color-isa-dark);
}